* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.header .container {
	width: 1140px;
	margin: 0 auto;
}

.nav .container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.nav-list {
	display: flex;
}

.nav-item {
	margin: 0 50px;
}

.nav-item:hover {
	transform: scale(1.1);
}

.nav-link {
	text-decoration: none;
	font-size: 16px;
	color: #a7a8ad;
	font-weight: 400;
	text-transform: capitalize;
	transition: all 0.4s;
}

.nav-link:hover {
	color: #333;
}

.nav-image-last {
	display: flex;
}

.nav-img-search {
	margin-right: 100px;
}

.nav-image-busket {
	position: relative;
}

.nav-img-busket-top {
	position: absolute;
	left: 10px;
	top: -10px;
}

.nav-img-busket-bottom {
	position: absolute;
	left: 2px;
	bottom: 7px;
}

.main {
	background-image: url("../img/main-sofa.png");
	background-repeat: no-repeat;
	background-position: 440px 50px;
	background-size: 850px;
}

.main .container {
	width: 1140px;
	margin: 0 auto;
}

.american {
	padding-top: 200px;
	padding-bottom: 60px;
}

.american-title {
	width: 400px;
	font-size: 35px;
	color: #a7a8ad;
	font-weight: 400;
}

.american-link {
	border: 1px solid #a7a8ad;
	outline: none;
	font-size: 16px;
	letter-spacing: 4px;
	color: #a7a8ad;
	background-color: #fff;
	font-weight: 400;
	padding: 15px 30px;
	text-transform: uppercase;
	margin-top: 80px;
	display: inline-block;
	text-decoration: none;
}

.american-link:hover {
	color: #333;
	background-color: #ffffff11;
	border: 1px solid #333;
}

.our .container {
	width: 1140px;
	margin: 0 auto;
}

.our .header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	align-items: center;
}

.number {
	display: flex;
}

.number-num {
	margin: 0 10px;
	font-size: 16px;
	line-height: 26px;
	color: #a7a8ad;
	font-weight: 500;
	position: relative;
}

.number >.second {
	font-size: 32px;
	line-height: 26px;
	color: #a7a8adff;
	font-weight: 500;
	font-family: "Roboto";
}

.number-line {
	display: inline-block;
	width: 10px;
	height: 1px;
	background-color: #a7a8ad;
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.number-num .second {
	right: 38px;
}

.sites {
	display: flex;
	align-items: center;
}

.site-link {
	margin: 0 15px;
	text-decoration: none;
}

.site-img {
	width: 20px;
}

.high .container {
	width: 100%;
	margin-top: 70px;
	display: flex;
	background-image: url("../img/high-image.png");
	background-repeat: no-repeat;
	background-position: 665px -10px;
}

.text-high {
	padding-top: 175px;
	padding-bottom: 100px;
}

.high-title {
	width: 500px;
	font-size: 38px;
	color: #a7a8ad;
	font-weight: 400;
}

.high-subtext {
	width: 586px;
	font-size: 16px;
	line-height: 26px;
	color: #a7a8ad;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 30px;
}

.high-link {
	border: 1px solid #a7a8ad;
	outline: none;
	font-size: 16px;
	letter-spacing: 4px;
	color: #a7a8ad;
	background-color: #fff;
	font-weight: 400;
	padding: 15px 30px;
	text-transform: uppercase;
	text-decoration: none;
}

.high-link:hover {
	color: #333;
	background-color: #ffffff11;
	border: 1px solid #333;
}

.collection .container {
	padding-top: 115px;
}

.collection-title {
	text-align: center;
	font-size: 32px;
	letter-spacing: 8px;
	color: #a7a8ad;
	font-weight: 500;
}

.sofas {
	width: 1140px;
	margin: 0 auto;
	display: flex;
	margin-top: 85px;
	align-items: center;
	justify-content: space-between;
}

.sofas-list {
	display: flex;
	justify-content: space-around;
}

.sofas-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px solid #f9f9f9;
}

.modern-sofa-img {
	width: 250px;
}

.modern-subtext {
	margin-top: 20px;
	font-size: 22px;
	color: #a7a8ad;
	font-weight: 500;
}

.modern-cost {
	font-size: 16px;
	color: #a7a8ad;
	font-weight: 500;
	margin-top: 10px;
}

.modern-link {
	display: inline-block;
	font-size: 16px;
	letter-spacing: 4px;
	color: #a7a8ad;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 45px;
}

.modern-link:hover {
	color: #333;
}

.sofas-left {
	display: flex;
	align-items: center;
}

.sofas-left::after {
	content: "";
	width: 1px;
	height: 50px;
	background-color: #a7a8ad;
	display: inline-block;
	margin-left: 20px;
}

.sofas-right {
	display: flex;
	align-items: center;
}

.sofas-right::before {
	content: "";
	width: 1px;
	height: 50px;
	background-color: #a7a8ad;
	display: inline-block;
	margin-right: 20px;
}

.join .container {
	width: 1140px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.image-join {
	margin-left: 30px;
}

.join-img {
	width: 380px;
}

.text-join {
	margin-left: 40px;
}


.join-title {
	font-size: 60px;
	color: #a7a8ad;
	font-weight: 500;
	text-transform: capitalize;
}

.join-subtext {
	font-size: 16px;
	color: #a7a8ad;
	font-weight: 400;
	margin-top: 10px;
}

.join-form {
	margin-top: 30px; 
}

.join-input {
	display: inline-block;
	font-size: 16px;
	color: #a7a8ad;
	font-weight: 400;
	border: 1px solid #a7a8ad;
	outline: none;
	padding: 10px 30px;
	width: 305px;
	background-color: #fff;
}

.join-input:hover {
	color: #333;
	border: 1px solid #333;
	background-color: #ffffff11;
}

.join-label {
	font-size: 16px;
	letter-spacing: 4px;
	color: #a7a8ad;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 30px;
	border: 1px solid #a7a8ad;
	margin-left: 20px;
	background-color: #fff;
}

.join-label:hover {
	background-color: #ffffff11;
	color: #333;
	border: 1px solid #333;
}

.home .container {
	width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.info .header {
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

.info >.nav {
	margin-top: 100px;
} 

.info > .nav .nav-item {
	margin: 0 25px;
}

.footer-hr {
	margin-top: 70px;
	margin-bottom: 50px;
}

.footer .container {
	width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.text-info {
	margin-bottom: 50px;
}